<%= form_with(model: storehouse, class: "contents") do |form| %>
  <% if storehouse.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(storehouse.errors.count, "error") %> prohibited this storehouse from being saved:</h2>

      <ul>
        <% storehouse.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label "Название", class: "font-semibold text-sm text-slate-600" %>
    <%= form.text_field :title, class: "block rounded-xl border border-slate-300 outline-none px-3 py-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label "Описание", class: "font-semibold text-sm text-slate-600" %>
    <%= form.text_field :description, class: "block rounded-xl border border-slate-300 outline-none px-3 py-2 w-full" %>
  </div>
  <div class="border-b border-slate-300"></div>
  <div class="my-5">
    <%= form.file_field :image %>
  </div>
  <div class="border-b border-slate-300"></div>
  <div class="my-5">
    <%= form.label "Сотрудник?", class: "font-semibold text-sm" %>
    <%= form.check_box :employee %>
  </div>
  <div class="border-b-2 border-amber-300 mb-4"></div>
  <div class="inline">
    <%= form.submit "Сохранить", class: "px-4 py-2 transition rounded-lg text-slate-900 bg-amber-300 hover:bg-amber-400 border border-amber-400 font-semibold text-sm cursor-pointer" %>
  </div>
<% end %>
