<div class="mx-auto w-full grid mb-2">
    <%= render @storehouse %>
    <div class="flex gap-2 text-sm">
      <% if current_user.admin? %>
        <%= link_to "Редактировать", edit_storehouse_path(@storehouse), class: "mt-2 text-slate-50 hover:text-slate-50 transition rounded-lg py-1 px-4 bg-slate-400 hover:bg-slate-500 inline-block" %>
        <div class="">
          <%= button_to "Удалить", storehouse_path(@storehouse), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "mt-2 text-slate-50 hover:text-slate-50 transition rounded-lg py-1 px-4 bg-slate-400 hover:bg-slate-500" %>
        </div>
      <% end  %>
      <%#= button_to "Создать накладную", invoice_create_storehouse_path(@storehouse), class: "mt-2 text-slate-50 hover:text-slate-50 transition rounded-lg py-1 px-4 bg-slate-400 hover:bg-slate-500 inline-block", method: :post %>
      <%= link_to 'Назад', storehouses_path, class: "mt-2 border border-slate-300 rounded-lg py-1 px-4 bg-slate-50 hover:bg-white text-slate-500 inline-block" %>
    </div>
</div>

<div class="" data-controller="tabs">
    <div class="tabs flex-row md:flex-row lg:flex-row xl:flex-row">
      <button class="
                    font-medium
                    text-xs
                    text-slate-700
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100
                    active" 
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="1"><i class="fa-solid fa-id-card pr-5 text-slate-400 text-xl"></i>Все позиции</button>
      <button class="
                    font-medium
                    text-xs
                    text-slate-700
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100"
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="2"><i class="fa-solid fa-file-contract pr-5 text-slate-400 text-xl"></i>ПО</button>
      <button class="
                    font-medium
                    text-xs
                    text-slate-700
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100"
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="3"><i class="fa-solid fa-file-contract pr-5 text-slate-400 text-xl"></i>Оборудовние</button>
      <button class="
                    font-medium
                    text-slate-700
                    text-xs
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100"
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="4"><i class="fa-solid fa-briefcase pr-5 text-slate-400 text-xl"></i>Измерительное</button>
      <button class="
                    font-medium
                    text-slate-700
                    text-xs
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100"
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="5"><i class="fa-solid fa-briefcase pr-5 text-slate-400 text-xl"></i>Монтаж</button>
    </div>
    <div class="tab-content bg-gray-100 flex flex-row w-full" data-tabs-target="content">
      <div class="tab-content-item p-5 fade-in overflow-auto w-full" data-tabs-target="tabContentItem" data-tab-id="1">
        <%# <%== pagy_nav(@pagy) %>
        <div class="relative table-wrp block max-h-[60vh] overflow-x-auto border border-slate-300 sm:rounded-xl">
          <table class="w-full overflow-auto text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase sticky top-0 bg-gray-100">
              <tr>
                <th scope="col" class="px-6 py-3">
                  Наименование
                </th>
                <th scope="col" class="px-6 py-3">
                    Описание
                </th>
                <th scope="col" class="px-6 py-3">
                  Инв. номер
                </th>
                <th scope="col" class="px-6 py-3">
                  Дата принятия
                </th>
                <th scope="col" class="px-6 py-3">
                  Тип
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="overflow-y-auto">
              <% @products.each do |product| %>
                <tr class="bg-white border-b hover:bg-gray-50 text-sm">
                  <th scope="row" class="px-6 py-1 font-medium text-gray-900 dark:text-white max-w-[500px]">
                    <%= link_to product.title, product %>
                  </th>
                  <td class="px-6 py-1">
                      <%= product.description.truncate(200) %>
                  </td>
                  <td class="px-6 py-1">
                      <%= product.inventory_number %>
                  </td>
                  <td class="px-6 py-1">
                      <%= product.accepted_at %>
                  </td>
                  <td class="px-6 py-1">
                    <div class="p-2 rounded text-center text-xs <%= product.type_product == :software ? "bg-green-200 text-green-800" : "bg-orange-200 text-orange-800" %> font-semibold">
                      <%= I18n.t(product.type_product, locale: :ru) %>
                    </div>
                  </td>
                  <td class="px-6 py-1 text-right">
                    <%= link_to "Edit", edit_product_path(product), class: "font-medium text-amber-500 hover:text-amber-700 hover:underline" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-content-item p-5 fade-in" data-tabs-target="tabContentItem" data-tab-id="2" hidden>
        <%= render partial: "products/products_table", locals: { products: @products.type_product?(:software) } %>
      </div>

      <div class="tab-content-item p-5 fade-in" data-tabs-target="tabContentItem" data-tab-id="3" hidden>
        <%= render partial: "products/products_table", locals: { products: @products.type_product?(:hardware) } %>
      </div>

      <div class="tab-content-item p-5 fade-in w-full lg:w-1/2" data-tabs-target="tabContentItem" data-tab-id="5" hidden>
        <div class="flex justify-center p-5">
          Контент
        </div>
      </div>
    </div>
  </div>
