<%= form_with(model: invoice, class: "contents", data: { turbo: false }) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3 ">
    <%= form.label "Кому", class:"font-semibold text-sm" %>
    <%= form.collection_select :storehouse_id, Storehouse.all, :id, :title, {:include_blank => true}, { class: "block rounded-xl border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-3 ">
    <%= form.label "Клиент", class:"font-semibold text-sm" %>
    <%= form.collection_select :client_id, Client.all, :id, :title, {:include_blank => true}, { class: "block rounded-xl border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="hidden">
    <%= form.text_field :user_id, value: current_user.id %>
  </div>
  

  <div class="inline">
    <%= form.submit "Создать", class: "px-6 py-2 transition rounded-xl text-slate-900 bg-amber-300 hover:bg-amber-400 font-medium cursor-pointer", data: { turbo: false } %>
  </div>
<% end %>
