<div class="mx-auto w-full grid grid-col-4 gap-6 justify-between">
  <div class="col-span-4 flex flex-row gap-1">
    <%= link_to "Редактировать", edit_invoice_path(@invoice), class: "rounded-lg py-1 px-2 bg-slate-100 hover:bg-amber-200 border-2 border-amber-300 text-slate-800 text-xs font-semibold" %>
    <%= button_to "Удалить", invoice_path(@invoice), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Уверен?' }, class: "rounded-lg py-1 px-2 bg-slate-100 hover:bg-slate-200 border-2 border-slate-300 text-xs font-semibold" %>
    <%= link_to "Назад", invoices_path, class: "rounded-lg py-1 px-2 bg-slate-100 hover:bg-slate-200 border-2 border-slate-300 text-xs font-semibold" %>
  </div>
  
  <div class="col-span-2 max-w-[595px] min-w-[595px] bg-white shadow-md border border-gray-200 px-7 py-6">
    <div id="<%= dom_id @invoice %>">
      <div class="flex justify-between px-6">
        <div>
          <h1 class="text-xl">Накладная № <%= @invoice.id %></h1>
          <p class="text-sm">на отпуск позиций</p>
        </div>
        <div class="text-xs font-semibold"><%= @invoice.created_at.to_date %></div>
      </div>
      
      <div class="grid grid-cols-3 grid-rows-3 my-6 text-sm">
        <div class="col-span-1 font-medium text-xs">
          Со склада
        </div>
        <div class="col-span-2 border-b border-b-gray-200 px-6">
          <% @invoice.products.each do |product| %>
            [<%= product.product_movements.last.from_storehouse.title %>] 
          <% end %>
        </div>
        <div class="col-span-1 font-medium text-xs">
          Кому:
        </div>
        <div class="col-span-2 border-b border-gray-200 px-6">
          <%= @invoice.storehouse.title %>
        </div>
        <div class="col-span-1 font-medium text-xs">
          Контрагент:
        </div>
        <div class="col-span-2 border-b border-gray-200 px-6">
          <%= @invoice.client.title %>
        </div>
        <div class="col-span-1 font-medium text-xs">
          Документ-основание №:
        </div>
        <div class="col-span-2 border-b border-gray-200 px-6">
          <%= @invoice.document_number %>
        </div>
      </div>
    </div>

    <table class="text-xs border-collapse w-full">
      <tbody>
        <tr>
          <th class="border border-slate-200 px-1">#</th>
          <th class="border border-slate-200 px-1">Наименование</th>
          <th class="border border-slate-200 px-1">Инв. №</th>
          <th class="border border-slate-200 px-1">Кол-во</th>
          <th class="border border-slate-200 px-1"></th>
        </tr>
        <% n = 0 %>
        <% @invoice.products.each do |product| %>
          <tr class="border border-slate-200">
            <td class="border border-slate-200 px-1"><%= n += 1 %></td>
            <td class="border border-slate-200 px-1"><%= product.title %></td>
            <td class="border border-slate-200 px-1 text-end"><%= product.inventory_number %></td>
            <td class="border border-slate-200 px-1 text-end"><%= product.amount %></td>
            <td class="px-4"><%= button_to "✖", remove_from_invoice_product_path(product), params: {invoice_id: @invoice}, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :post ,class: "transition px-2 text-amber-500 hover:underline" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-span-2 " data-controller="search">
    <input data-remote='true' data-search-target="source" 
              data-action="input->search#filter" 
              type="search" 
              class="search border border-gray-200 rounded" 
              placeholder="Поиск.." />
    <div id="products" class="bg-white scrollbar border w-full mt-3 rounded h-[60vh] overflow-auto" data-search-target="results" >
      <table class="w-full text-xs border-collapse">
        <% @products.each do |p| %>
          <tr class="border border-slate-200 text-sm" data-search-target="filterable" data-search-key='<%= "#{p.title}".downcase %>'>
            <td class="px-4"><%= p.title %></td>
            <td class="text-slate-400 px-4"><%= p.storehouse.title %></td>
            <td class="px-4"><%= p.inventory_number %></td>
            <td class="px-4"><%= button_to "добавить", add_to_invoice_product_path(p), params: {invoice_id: @invoice}, method: :post ,class: "transition px-2 py-1 bg-amber-300 hover:bg-amber-400 text-xs font-medium text-slate-900 rounded" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="flex items-stretch gap-4">
    <% if @invoice.completed == true %>
      <button disabled class="border border-gray-200 disabled:bg-slate-50 rounded px-2 py-1">Проведено</button>
    <% else %>
      <%= button_to complete_invoice_path(@invoice, invoice: {completed: true}), class: "px-4 py-2 transition rounded-lg text-slate-900 bg-amber-300 hover:bg-amber-400 font-bold text-sm cursor-pointer", method: :patch do %>
        Провести
      <% end %>
    <% end %>

    <%= link_to to_print_invoice_path(@invoice), class: "flex items-center rounded-lg bg-amber-300 hover:bg-amber-400", method: :get do %>
      <span class="material-symbols-outlined text-slate-900 px-2">
        print
      </span>
    <% end %>
  </div>
</div>
