<div id="<%= dom_id product_movement %>">
  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 <%= "bg-red-200" if product_movement.deleted_at.present? %>">
    <td class="px-6 py-2 font-medium text-gray-900 dark:text-white max-w-[500px]">
      <%= product_movement.from_storehouse_including_deleted.title %>
    </td>
    <td class="px-6 py-2">
      ➤
    </td>
    <td class="px-6 py-2">
        <%= product_movement.to_storehouse_including_deleted.title %>
    </td>
    <td class="px-6 py-2">
        <%= product_movement.product_including_deleted.title %>
    </td>
    <td class="px-6 py-2 text-center">
        <%= product_movement.quantity %>
    </td>
    <td class="px-6 py-2">
        <%= product_movement.date_movement %>
    </td>
  </tr>
</div>
