<% if cart.cart_items.any? %>
  <h1 class="text-2xl font-bold">Корзина</h1>
  <% cart.cart_items.each do |cart_item| %>
    <%= turbo_frame_tag "cart_item_#{cart_item.id}" do %>
      <div>
        <p><%= cart_item.price.title %></p>
        <p><%= number_to_currency(cart_item.total_price) %></p>
        <%= form_with url: cart_item_path(cart_item), method: :patch do |form| %>
          <%= form.number_field :quantity, value: cart_item.quantity, min: 1 %>
          <%= form.submit 'Обновить' %>
        <% end %>
        <%= button_to 'Удалить', cart_item_path(cart_item), method: :delete, form: { data: { turbo_frame: "_top" } } %>
      </div>
    <% end %>
  <% end %>
  <p>Итого: <%= number_to_currency(cart.total_price) %></p>
<% else %>
  <p>Корзина пуста</p>
<% end %>