<%= form_with(model: vendor, class: "contents") do |form| %>
  <% if vendor.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
        <% vendor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label "Наименование", class: "font-semibold text-xs" %>
    <%= form.text_field :title, class: "block  bg-stone-50 rounded-xl border border-stone-300 outline-none px-3 py-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Менеджер", class: "font-semibold text-xs" %>
    <%= form.text_field :manager, class: "block  bg-stone-50 rounded-xl border border-gray-300 focus:border-1 focus:border-stone-400 outline-none px-3 py-2 w-full" %>
  </div>
  <div class="border-b-2 border-amber-300 mb-4"></div>
  <div class="inline">
    <%= form.submit "Сохранить", class: "px-4 py-2 transition rounded-lg text-slate-900 bg-amber-300 hover:bg-amber-400 border border-amber-400 font-semibold text-sm cursor-pointer" %>
  </div>
<% end %>
