<div id="<%= dom_id price %>">
  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    <td class="px-6 py-4 w-2/4">
      <%= link_to price.title, price, class: "" %>
    </td>
    <td class="px-6 py-4">
      <%= number_with_precision(price.retail_price, delimiter: ' ', precision: 2) %> ₽
    </td>
    <td class="px-6 py-4">
      <%= number_with_precision(price.purchase_price, delimiter: ' ', precision: 2) %> ₽
    </td>
    <td class="px-6 py-4">
      <%= price.vendor.title %>
    </td>
    <td class="px-6 py-4 text-right">
      <%= link_to "Edit", edit_price_path(price), class: "font-medium text-amber-500 hover:text-amber-700 hover:underline" %>
    </td>
  </tr>
</div>
