<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Prices</h1>
    <%= link_to "New price", new_price_path, class: "button-primary" %>
  </div>
  <div class="p-3 flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
    <%= link_to "Export", prices_path(format: 'csv') %>
    <div class="relative">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_cont, class:"block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Search..." %>
          <%= f.submit "Найти", class:"cursor-pointer absolute end-[-70px] bottom-[1px] text-amber-700 bg-amber-300 hover:bg-amber-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2" %>
        <% end %>
    </div>
    
    <button id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider" class="text-amber-600 bg-amber-200 hover:bg-amber-300 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">
      Фильтр по поставщикам 
      <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
       <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
      </svg>
    </button>

    <!-- Dropdown menu -->
    <div id="dropdownDivider" class="z-10 hidden bg-amber-200 divide-y divide-amber-400 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
        <ul class=" text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDividerButton">
          <% Vendor.all.each do |v| %>
            <li>
              <%= link_to v.title, prices_path(vendor_id: v.id), class: "block px-4 py-2 hover:bg-amber-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
            </li>
          <% end %>
        </ul>
        <div class=" bg-amber-300">
          <%= link_to "Все", prices_path, class:"block px-4 py-2 text-sm text-gray-700  hover:bg-amber-100" %>
        </div>
    </div>

  </div>
  <div id="prices" class="min-w-full">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Наименование
          </th>
          <th scope="col" class="px-6 py-3">
            Артикул
          </th>
          <th scope="col" class="px-6 py-3">
            РРЦ
          </th>
          <th scope="col" class="px-6 py-3">
            Закупочная цена
          </th>
          <th scope="col" class="px-6 py-3">
            НДС
          </th>
          <th scope="col" class="px-6 py-3">
            Поставщик
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @prices %>
      </tbody>
    </table>
  </div>
</div>
