<%= form_with(model: product, url: add_files_product_path(product), method: :post) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline my-5 p-4 border border-amber-300 ">
    <%= form.file_field :images, multiple: true %>
    <%= form.submit "Добавить файлы", class: "px-6 py-2 transition text-slate-900 bg-amber-300 hover:bg-amber-400 font-medium cursor-pointer" %>
  </div>
<% end %>
