<div id="products" class="min-w-full" data-controller="menu">
  <div class="relative overflow-x-auto mt-2">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs font-bold text-gray-700 uppercase bg-slate-300">
        <tr>
          <th scope="col" class="px-4 py-3">
            Наименование
          </th>
          <th scope="col" class="px-4 py-3 border-gray-200">
              Серийный №
          </th>
          <th scope="col" class="px-4 py-3 border-gray-200">
              Контрагент
          </th>
          <th scope="col" class="px-4 py-3 border-gray-200">
            Инв. номер
          </th>
          <th scope="col" class="px-4 py-3 border-gray-200">
            Дата создания
          </th>
          <th scope="col" class="px-4 py-3">
            Кол-во
          </th>
          <th scope="col" class="px-4 py-3">
            Тип
          </th>
          <th scope="col" class="px-4 py-3">
            Склад
          </th>
          <th scope="col" class="px-4 py-3">
            <span class="sr-only">Edit</span>
          </th>
          <th scope="col" class="px-4 py-3">
            <span class="sr-only">Перемещение</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% products.each do |product| %>
          <tr class="bg-white border-b hover:bg-gray-50">
            <td class="px-4 py-1 text-gray-900 max-w-[500px]">
              <%= link_to product.title, product %>
            </td>
            <%# <td class="px-4 py-1 border-gray-200 border-dotted"> %>
                <%#= product.description.truncate(200) %>
            <%# </td> %>
            <td class="px-4 py-1 border-gray-200 border-dotted">
                <%= product.serial_number %>
            </td>
            <td class="px-4 py-1 border-gray-200 border-dotted">
                <%= product.client.title %>
            </td>
            <td class="px-4 py-1 border-gray-200 border-dotted">
                <%= product.inventory_number %>
            </td>
            <td class="px-4 py-1 border-gray-200 border-dotted">
                <%= product.accepted_at %>
            </td>
            <td class="px-4 py-1 border-gray-200 border-dotted text-center">
              <%= product.amount %>
            </td>
            <td class="px-2">
              <div class="rounded text-center text-[0.7rem] <%= product.type_product_style %> font-semibold">
                <%= I18n.t(product.type_product, locale: :ru) %>
              </div>
            </td>
            <td class="">
              <div class="py-1 bg-amber-100 border border-amber-400 rounded text-[0.7rem] text-center text-amber-800 font-semibold leading-tight">
                <%= link_to product.storehouse.title, storehouse_url(product.storehouse.id) %>
              </div>
            </td>
            <td class="px-4 py-2 text-right">
              <%= link_to "Edit", edit_product_path(product), class: "font-medium text-amber-500 hover:text-amber-700 hover:underline" %>
            </td>
            <% if current_user.admin? %>
              <td class="px-4 text-right">
                <%#= render "shared/menu_move", product: product %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>