<h2 class="my-3 text-2xl font-bold tracking-tight text-gray-800 dark:text-white"><%= link_to product.title, product %></h2>
<div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
      <li class="me-2">
          <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true" class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">О товаре</button>
      </li>
      <li class="me-2">
          <button id="services-tab" data-tabs-target="#services" type="button" role="tab" aria-controls="services" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Подробно</button>
      </li>
      <li class="me-2">
          <button id="statistics-tab" data-tabs-target="#statistics" type="button" role="tab" aria-controls="statistics" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Файлы</button>
      </li>
  </ul>
  <div id="defaultTabContent">
    <div class="flex hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">
      <div class="pr-4 w-2/3">
        <div class="text-gray-500 text-xs font-semibold">
          <%= product.accepted_at %>
        </div>
        <div class="flex gap-1 items-center">
          <div class="p-2 px-3 rounded text-center text-xs <%= product.type_product == :software ? "bg-green-200 text-green-800" : "bg-orange-200 text-orange-800" %> font-semibold" title="ТИП">
            <%= I18n.t(product.type_product, locale: :ru) %>
          </div>
          <div class="p-2 px-3 bg-amber-100 rounded text-xs text-center text-amber-800 font-semibold" title="СКЛАД">
            <%= product.storehouse.title %>
          </div>
        </div>

        <p class="mb-3 text-gray-500 dark:text-gray-400"><%= product.description %></p>
        <div class="text-gray-700 font-medium mb-4 w-full flex flex-row gap-2">
          <div class="bg-gray-100 px-3 rounded tracking-wider"><span class="font-normal text-gray-500 tracking-normal">Серийный номер: </span> <%= product.serial_number %></div>
          <div class="bg-gray-100 px-3 rounded tracking-wider"><span class="font-normal text-gray-500 tracking-normal">Инвентарный номер: </span><%= product.inventory_number %></div>
        </div>
        
        <% if product.booking? %>
          <div class="text-red-400">
            В резерве для: <%= product.client.title %>
          </div>
        <% end %>
         <div class="border-b-2 border-amber-300 mt-4"></div>
        <%= link_to edit_product_path(product), class: "inline-flex items-center text-xs font-medium text-amber-500 hover:text-amber-700 hover:underline mt-4" do %>
          Редактировать
        <% end %>
        <span class="px-1 text-gray-200">|</span>
        <div class="inline-block ml-2 text-xs">
          <%= link_to "Удалить", @product, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Really?' }, class: "mt-2 rounded-lg text-red-500 font-medium hover:underline" %>
        </div>
        <span class="px-1 text-gray-200">|</span>
        <div class="inline-block ml-2 text-xs">
          <%= button_to "Клонировать", clone_product_path(@product), method: :post, class: "text-green-500 hover:underline" %>
        </div>
        <!-- <div class="inline-block ml-2 text-xs pt-2">
          <%= button_to clone_product_path(@product), method: :post, class: "text-green-500 hover:underline" do %>
            <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="currentColor">
              <script xmlns=""/>
              <path d="M760-200H320q-33 0-56.5-23.5T240-280v-560q0-33 23.5-56.5T320-920h247q16 0 30.5 6t25.5 17l194 194q11 11 17 25.5t6 30.5v367q0 33-23.5 56.5T760-200Zm0-440L560-840v140q0 25 17.5 42.5T620-640h140ZM160-40q-33 0-56.5-23.5T80-120v-520q0-17 11.5-28.5T120-680q17 0 28.5 11.5T160-640v520h400q17 0 28.5 11.5T600-80q0 17-11.5 28.5T560-40H160Z"/>
              <style xmlns="" type="text/css" id="igtranslator-color"/>
            </svg>
          <% end %>
        </div> -->
      </div>
      <div class="p-4 border-2 border-gray-200 bg-gray-100 border-dashed rounded-lg flex justify-center dark:border-gray-700 w-1/3">
        <% if product.picture.attached? %>
          <%= image_tag product.picture, class: "object-contain max-w-[15rem] rounded-t-lg md:rounded-none md:rounded-s-lg" %>
        <% end %>
      </div>
      
    </div>
    <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="services" role="tabpanel" aria-labelledby="services-tab">
        <h2 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">We invest in the world’s potential</h2>
        <!-- List -->
        <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
            <li class="flex space-x-2 rtl:space-x-reverse items-center">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="leading-tight">Dynamic reports and dashboards</span>
            </li>
            <li class="flex space-x-2 rtl:space-x-reverse items-center">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="leading-tight">Templates for everyone</span>
            </li>
            <li class="flex space-x-2 rtl:space-x-reverse items-center">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="leading-tight">Development workflow</span>
            </li>
            <li class="flex space-x-2 rtl:space-x-reverse items-center">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="leading-tight">Limitless business automation</span>
            </li>
        </ul>
    </div>
    <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
      <%= render "add_images", product: @product %>
        <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
            <div class="flex flex-col">
                <dt class="mb-2 text-3xl font-extrabold">73M+</dt>
                <dd class="text-gray-500 dark:text-gray-400">Developers</dd>
            </div>
            <div class="flex flex-col">
                <dt class="mb-2 text-3xl font-extrabold">100M+</dt>
                <dd class="text-gray-500 dark:text-gray-400">Public repositories</dd>
            </div>
        </dl>
        <% if @product.images.attached? %>
          <div class="">
            <%= render partial: "attachments/attached_files", locals: { resource: @product } %>
          </div>
        <% end %>
    </div>
  </div>
</div>
