<div class="w-full">
  <div class="flex items-start mb-4">
    <div class="flex flex-col">
      <h1 class="font-bold text-gray-700 text-2xl">Оборудовние и ПО</h1>
      <span class="text-gray-400">Всего позиции: <%= @pagy.count %></span>
    </div>
    <%= link_to new_product_path, class: "button-fab flex justify-center items-center bg-amber-100" do %>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="fill-amber-900">
        <script xmlns=""/><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        <style xmlns="" type="text/css" id="igtranslator-color"/>
      </svg>
    <% end %>
  </div>
  <div class="flex items-center sm:w-full justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4">
    <div class="relative">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_or_description_cont, class:"p-2 ps-10 text-sm text-gray-900 border border-amber-200 rounded-l-full w-80 bg-gray-50 focus:ring-amber-500 focus:border-amber-500", placeholder: "Search..." %>
          <%= f.submit "Найти", class:"transition cursor-pointer border border-amber-200 ml-0 text-amber-900 bg-amber-100 hover:bg-amber-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-r-full text-sm px-4 py-2" %>
        <% end %>
    </div>
    <div class="flex gap-2">
      <%= link_to "Сбросить фильтр", products_path, class: "transition block rounded-full bg-slate-300 hover:bg-slate-400 px-3 py-1 text-slate-500 hover:text-slate-900 text-sm" %>
      <%= link_to "Отгруженные", products_path(shipped: true), class: "transition block rounded-full bg-slate-300 #{request.url.include?("shipped") ? "bg-slate-400 text-slate-900" : "bg-slate-300"} hover:bg-slate-400 px-3 py-1 text-slate-500 hover:text-slate-900 text-sm" %>
    </div>
  </div>
  <div class="border-b-2 border-amber-300 mb-4"></div>
  <div id="products" class="min-w-full" data-controller="menu">
  <%== pagy_nav(@pagy) %>
    <div class="relative overflow-x-auto mt-2">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs font-bold text-gray-700 uppercase bg-slate-300">
          <tr>
            <th scope="col" class="px-4 py-3">
              <%= sort_link(@q, :title, default_order: :desc) %>
            </th>
            <th scope="col" class="px-4 py-3 border-gray-200">
                Серийный №
            </th>
            <th scope="col" class="px-4 py-3 border-gray-200">
                Контрагент
            </th>
            <th scope="col" class="px-4 py-3 border-gray-200">
              Инв. номер
            </th>
            <th scope="col" class="px-4 py-3 border-gray-200">
              <%= sort_link(@q, :accepted_at, default_order: :desc) %>
            </th>
            <th scope="col" class="px-4 py-3">
              Кол-во
            </th>
            <th scope="col" class="px-4 py-3">
              Тип
            </th>
            <th scope="col" class="px-4 py-3">
              Склад
            </th>
            <th scope="col" class="px-4 py-3">
              <span class="sr-only">Edit</span>
            </th>
            <th scope="col" class="px-4 py-3">
              <span class="sr-only">Перемещение</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @products %>
        </tbody>
      </table>
    </div>
  </div>
</div>
