<div class="w-full">
  <div class="flex items-start mb-4">
    <div class="flex flex-col">
      <h1 class="font-bold text-gray-700 text-2xl">Оборудовние и ПО</h1>
      <span class="text-gray-400">Всего позиции: <%= @pagy.count %></span>
    </div>
    <%= link_to new_product_path, class: "button-fab flex justify-center items-center bg-amber-200" do %>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="fill-amber-900">
        <script xmlns=""/><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        <style xmlns="" type="text/css" id="igtranslator-color"/>
      </svg>
    <% end %>
  </div>
  <div class="flex items-center sm:w-full justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4">
    <div class="relative">
      <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <div class="">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_or_description_cont, class:"p-2 ps-10 text-sm text-gray-900 border border-amber-200 rounded-l-full bg-gray-50 focus:ring-amber-500 focus:border-amber-500", placeholder: "Search..." %>
          <%= f.submit "Найти", class:"transition cursor-pointer border border-amber-200 ml-0 text-amber-900 bg-amber-100 hover:bg-amber-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-r-full text-sm px-4 py-2" %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-wrap gap-2">
      <div class="relative lg:w-auto sm:w-full" data-controller="dd">
         <button data-action="click->dd#toggle" class="w-full text-amber-600 bg-amber-200 hover:bg-amber-300 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">
          <span data-dd-target="buttonText">Фильтр по клиентам</span>
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownDivider2" class="hidden scrollbar absolute z-10 top-12 w-full min-w-[15rem] max-h-[25rem] overflow-y-auto shadow-lg rounded-md bg-amber-200" data-dd-target="m">
          <!-- Содержимое dropdown -->
          <div class="border-b border-amber-500 bg-amber-300">
            <%= link_to "Все", products_path, class:"block px-4 py-2 text-sm text-gray-700  hover:bg-amber-100" %>
          </div>
          <ul class=" text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDividerButton">
            <% Client.all.order(title: :asc).each do |client| %>
              <li data-action="click->dd#updateButtonText">
                <%= link_to client.title, products_path(client_id: client.id), class: "block px-4 py-2 hover:bg-amber-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="flex items-center lg:w-auto sm:w-1/2">
        <%= link_to "Сбросить фильтр", products_path, class: "transition block rounded-full align-middle bg-slate-300 hover:bg-slate-400 px-3 py-1 text-slate-500 hover:text-slate-900 text-sm" %>
      </div>
      <div class="flex items-center lg:w-auto sm:w-1/2">
        <%= link_to "Отгруженные", products_path(shipped: true), class: "transition block rounded-full bg-slate-300 #{request.url.include?("shipped") ? "bg-slate-400 text-slate-900" : "bg-slate-300"} hover:bg-slate-400 px-3 py-1 text-slate-500 hover:text-slate-900 text-sm" %>
      </div>
    </div>
  </div>
  <div class="border-b-2 border-amber-300 mb-4"></div>
  <%== pagy_nav(@pagy) %>
  <% @grouped_products.each do |title,  products| %>
    <details class="transition my-1 open:bg-gray-100 w-full overflow-x-auto open:ring-1 open:ring-black/5 open:p-4 rounded-xl text-sm open:font-semibold">
      <summary class="border-b border-gray-200 lg:w-1/2 sm:w-full flex justify-between p-1 cursor-pointer"><span class="w-2/3"><%= title %></span><span class="px-2 flex rounded bg-white border border-amber-300 justify-center items-center">➡️ Всего: <%== products.count %></span></summary>
      <table class="mt-2 w-full overflow-x-auto text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-4000">
        <thead class="text-xs font-bold text-gray-700 uppercase bg-slate-300">
          <tr>
            <th scope="col" class="px-2 py-1">
              <%= sort_link(@q, :title, default_order: :desc) %>
            </th>
            <th scope="col" class="px-2 py-1 border-gray-200">
                Серийный №
            </th>
            <th scope="col" class="px-2 py-1 border-gray-200">
                Контрагент
            </th>
            <th scope="col" class="px-2 py-1 border-gray-200">
              Инв. номер
            </th>
            <th scope="col" class="px-2 py-1 border-gray-200">
              <%= sort_link(@q, :accepted_at, default_order: :desc) %>
            </th>
            <th scope="col" class="px-2 py-1">
              Кол-во
            </th>
            <th scope="col" class="px-2 py-1">
              Зарезервировано
            </th>
            <th scope="col" class="px-2 py-1">
              Тип
            </th>
            <th scope="col" class="px-2 py-1">
              Склад
            </th>
            <th scope="col" class="px-2 py-1">
              <span class="sr-only">Edit</span>
            </th>
            <th scope="col" class="px-2 py-1">
              <span class="sr-only">Перемещение</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <% products.each do |product| %>
            <tr class="bg-white border-b hover:bg-gray-50">
              <td class="px-2"><%= link_to product.title, product %></td>
              <td class="px-2"><%= product.serial_number %></td>
              <td class="px-2"><%= product.client.title %></td>
              <td class="px-2"><%= product.inventory_number %></td>
              <td class="px-2"><%= product.accepted_at %></td>
              <td class="px-2"><%= product.amount %></td>
              <td class="px-4 py-1 border-gray-200 border-dotted text-center">
              <%#= button_to product_path(product, product: {booking: true}), class: "px-4 py-2 transition rounded-lg text-slate-900 bg-amber-300 hover:bg-amber-400 font-bold text-sm cursor-pointer", method: :patch do %>
                
              <%# end %>
                <input type="checkbox" name="" id="" <%= product.booking ? "checked disabled" : "disabled" %>>
              </td>
              <td class="px-2">
                <div class="rounded text-center text-[0.7rem] <%= product.type_product_style %> font-semibold">
                  <%= I18n.t(product.type_product, locale: :ru) %>
                </div>
              </td>
              <td class="px-2">
                <div class="py-1 bg-amber-100 border border-amber-400 rounded text-[0.7rem] text-center text-amber-800 font-semibold leading-tight">
                  <%= link_to product.storehouse.title, storehouse_url(product.storehouse.id) %>
                </div>
              </td>
              <td class="px-4 py-2 text-right">
                <%= link_to "Edit", edit_product_path(product), class: "font-medium text-amber-500 hover:text-amber-700 hover:underline" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </details>
  <% end %>
    
  
</div>
