<div class="w-full">
  <div class="flex items-start mb-4">
    <div class="flex flex-col">
      <h1 class="font-bold text-gray-700 text-2xl">Оборудовние и ПО</h1>
      <span class="text-gray-400">Всего позиции: <%= @pagy.count %></span>
    </div>
    <%= link_to new_product_path, class: "button-fab flex justify-center items-center bg-amber-200" do %>
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="fill-amber-900">
        <script xmlns=""/><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        <style xmlns="" type="text/css" id="igtranslator-color"/>
      </svg>
    <% end %>
  </div>
  <div class="flex items-center sm:w-full justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4">
    <div class="relative">
      <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <div class="">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_or_description_cont, class:"p-2 ps-10 text-sm text-gray-900 border border-amber-200 rounded-l-full bg-gray-50 focus:ring-amber-500 focus:border-amber-500", placeholder: "Search..." %>
          <%= f.submit "Найти", class:"transition cursor-pointer border border-amber-200 ml-0 text-amber-900 bg-amber-100 hover:bg-amber-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-r-full text-sm px-4 py-2" %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-wrap gap-2">
      <%= render "shared/dropdown", title: "Фильтр по клиентам", model: Client.all.order(title: :asc) %>
      <div class="flex items-center lg:w-auto sm:w-1/2">
        <%= link_to "Сбросить фильтр", products_path, class: "transition block rounded-full align-middle bg-slate-300 hover:bg-slate-400 px-3 py-1 text-slate-500 hover:text-slate-900 text-sm" %>
      </div>
      <div class="flex items-center lg:w-auto sm:w-1/2">
        <%= link_to "Отгруженные", products_path(shipped: true), class: "transition block rounded-full bg-slate-300 #{request.url.include?("shipped") ? "bg-slate-400 text-slate-900" : "bg-slate-300"} hover:bg-slate-400 px-3 py-1 text-slate-500 hover:text-slate-900 text-sm" %>
      </div>
    </div>
  </div>
  <div class="border-b-2 border-amber-300 mb-4"></div>
  <%== pagy_nav(@pagy) %>
  <div class="mt-2 max-h-[60vh] overflow-x-auto bg-white p-2">
    <% @grouped_products.each do |title,  products| %>
      <details class="transition my-1 open:bg-zinc-100 w-full overflow-x-auto open:ring-1 open:ring-black/5 open:p-4 rounded-xl text-sm open:font-semibold">
        <summary class="border-b border-zinc-200 open:border-b-0 lg:w-1/2 sm:w-full flex justify-between p-1 cursor-pointer"><span class="w-2/3"><%= title %></span><span class="px-2 flex rounded bg-white border border-amber-300 justify-center items-center">➡️ Всего: <%== products.count %></span></summary>
        <table class="mt-2 w-full overflow-x-auto text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-4000">
          <thead class="text-xs font-bold text-amber-900 uppercase bg-amber-300">
            <tr>
              <th scope="col" class="px-2 py-1">
                <%= sort_link(@q, :title, default_order: :desc) %>
              </th>
              <th scope="col" class="px-2 py-1 border-gray-200">
                  Серийный №
              </th>
              <th scope="col" class="px-2 py-1 border-gray-200">
                  Контрагент
              </th>
              <th scope="col" class="px-2 py-1 border-gray-200">
                Инв. номер
              </th>
              <th scope="col" class="px-2 py-1 border-gray-200">
                <%= sort_link(@q, :accepted_at, default_order: :desc) %>
              </th>
              <th scope="col" class="px-2 py-1">
                Кол-во
              </th>
              <th scope="col" class="px-2 py-1">
                Зарезервировано
              </th>
              <th scope="col" class="px-2 py-1">
                Тип
              </th>
              <th scope="col" class="px-2 py-1">
                Склад
              </th>
              <th scope="col" class="px-2 py-1">
                <span class="sr-only">Edit</span>
              </th>
              <th scope="col" class="px-2 py-1">
                <span class="sr-only">Прикрепленные файлы</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% products.each do |product| %>
              <tr class="bg-white border-b hover:bg-gray-50">
                <td class="px-2"><%= link_to product.title, product %></td>
                <td class="px-2"><%= product.serial_number %></td>
                <td class="px-2"><%= product.client.title %></td>
                <td class="px-2"><%= product.inventory_number %></td>
                <td class="px-2"><%= product.accepted_at %></td>
                <td class="px-2"><%= product.amount %></td>
                <td class="px-4 py-1 border-gray-200 border-dotted text-center">
                  <input type="checkbox" name="" id="" <%= product.booking ? "checked disabled" : "disabled" %>>
                </td>
                <td class="px-2">
                  <div class="rounded text-center text-[0.7rem] <%= product.type_product_style %> font-semibold">
                    <%= I18n.t(product.type_product, locale: :ru) %>
                  </div>
                </td>
                <td class="px-2">
                  <div class="py-1 bg-amber-100 border border-amber-400 rounded text-[0.7rem] text-center text-amber-800 font-semibold leading-tight">
                    <%= link_to product.storehouse.title, storehouse_url(product.storehouse.id) %>
                  </div>
                </td>
                <td class="px-4 py-2 text-right">
                  <%= link_to "Edit", edit_product_path(product), class: "font-medium text-amber-500 hover:text-amber-700 hover:underline" %>
                </td>
                <% if product.images.attached? %>
                  <td class="px-4 py-2 text-right text-green-500">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 -960 960 960" width="16" fill="currentColor"><script xmlns=""/>
                      <path d="M728-326q0 103-72.175 174.5t-175 71.5Q378-80 305.5-151.5 233-223 233-326v-380q0-72.5 51.5-123.25T408-880q72 0 123.5 50.75T583-706v360q0 
                      42-30 72t-72.5 30q-42.5 0-72.5-29.673-30-29.672-30-72.327v-340q0-12.75 8.675-21.375 8.676-8.625 21.5-8.625 12.825 0 21.325 8.625T438-686v340q0 
                      17 12.5 29.5t30.64 12.5q18.139 0 30-12.5Q523-329 523-346v-360q0-48-33.5-81t-81.711-33q-48.212 0-81.5 33.06Q293-753.88 293-706v380q0 78 54.971 
                      132T481-140q77.917 0 132.458-54Q668-248 668-326v-360q0-12.75 8.675-21.375 8.676-8.625 21.5-8.625 12.825 0 21.325 8.625T728-686v360Z"/><script xmlns=""/>
                    </svg>
                  </td>
                <% else %>
                  <td class="px-4 py-2 text-right"></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </details>
    <% end %>
  </div>
  
</div>
