<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.turbo.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main h-screen bg-slate-100">
      <header class="nav border-b border-slate-300">
          <nav class="bg-slate-100 px-4 lg:px-6 py-2.5 flex flex-wrap justify-between items-center ">
              
            <a href="#" class="flex items-center">
                <span class="self-center text-amber-500 text-2xl font-bold whitespace-nowrap">СКЛАД</span>
            </a>
            <div class="flex items-center lg:order-2">
                <% if user_signed_in? %>
                  <span class="text-sm font-semibold text-amber-500 mr-3"><%= current_user.email %></span>
                  <%= link_to destroy_user_session_path, class:"font-semibold text-gray-800 bg-slate-200 hover:bg-slate-300 focus:ring-4 focus:ring-gray-300 rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none", data: { turbo_method: :delete, turbo_confirm: 'Really?' } do %>
                    Выйти 
                  <% end %>
                <% else %>
                  <%= link_to new_user_session_path, class:"font-semibold text-gray-800 hover:bg-slate-200 focus:ring-4 focus:ring-gray-300 rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none" do %>
                    Войти
                  <% end %>
                    <a href="#" class="font-semibold text-gray-300 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none">
                      Sign Up
                    </a>
                <% end %>
                <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="mobile-menu-2" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <%# <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">Company</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">Marketplace</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">Features</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">Team</a>
                    </li> %>
                    <li>
                        <%= link_to new_invoice_path, class:"shadow border border-amber-400 transition text-slate-900 bg-amber-300 hover:bg-amber-400 focus:ring-4 focus:ring-gray-300 font-semibold rounded-xl text-sm px-4 lg:px-5 py-3 lg:py-3 mr-2 focus:outline-none" do %>
                          Создать накладную
                        <% end %>
                    </li>
                </ul>
            </div>
   
          </nav>
      </header>
      <div class="content h-48">
        <div class="p-4">
          <div class="overflow-auto">
            <% if notice.present? %>
              <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
            <% elsif alert.present? %>
              <p class="alert py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
      <aside class="aside bg-slate-100">
        <div class="h-full px-4 py-4 overflow-y-auto ">
            <ul class="space-y-2 font-medium">
              <li>
                <%= link_to product_movements_path, class:"transition flex items-center p-2 text-slate-900 rounded-lg hover:bg-amber-300 group" do %>
                  <svg class="w-5 h-5 text-slate-700 transition duration-75 group-hover:text-slate-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                      <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                      <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                  </svg>
                  <span class="ms-3">Dashboard</span>
                <% end %>
              </li>
              <li>
                <%= link_to product_movements_path, class:"transition flex items-center p-2 text-slate-900 rounded-lg hover:bg-amber-300 group" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24" class="w-5 h-5 text-slate-700 transition duration-75 group-hover:text-slate-900">
                    <script xmlns=""/>
                    <path d="m233-280 76 76q12 12 11.5 28T308-148q-12 11-28 11.5T252-148L108-292q-6-6-8.5-13T97-320q0-8 2.5-15t8.5-13l144-144q11-11 27.5-11t28.5 11q12 12 12 28.5T308-435l-75 75h567q17 0 28.5 11.5T840-320q0 17-11.5 28.5T800-280H233Zm494-320H160q-17 0-28.5-11.5T120-640q0-17 11.5-28.5T160-680h567l-76-76q-12-12-11.5-28t12.5-28q12-11 28-11.5t28 11.5l144 144q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L708-468q-11 11-27.5 11T652-468q-12-12-12-28.5t12-28.5l75-75Z"/>
                    <style xmlns="" type="text/css" id="igtranslator-color"/>
                  </svg>
                  <span class="ms-3">Передвижения</span>
                <% end %>
              </li>
              <!-- <li>
                <%= link_to employees_path, class: "flex items-center p-2 text-slate-900 rounded-lg dark:text-white hover:bg-amber-300 dark:hover:bg-amber-700 group" do %>
                  <svg class="flex-shrink-0 w-5 h-5 text-slate-700 transition duration-75 dark:text-amber-400 group-hover:text-slate-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                      <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                  </svg>
                  <span class="flex-1 ms-3 whitespace-nowrap">Сотрудники</span>
                <% end %>
              </li> -->
              <li>
                <%= link_to products_path, class:"transition flex items-center p-2 text-slate-900 rounded-lg dark:text-white hover:bg-amber-300 #{current_page?(controller: 'products') ? 'bg-amber-300' : ''} group" do %>
                  <svg class="flex-shrink-0 w-5 h-5 text-slate-700 transition duration-75 group-hover:text-slate-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                     <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                  </svg>
                  <span class="flex-1 ms-3 whitespace-nowrap">Продукты</span>
                <% end %>
              </li>
              <li>
                <%= link_to storehouses_path, class:"transition flex items-center p-2 text-slate-900 rounded-lg hover:bg-amber-300 #{current_page?(controller: 'storehouses') ? 'bg-amber-300' : ''} group" do %>
                  
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 -960 960 960" width="24" class="w-6 h-6 text-slate-700 transition duration-75 group-hover:text-slate-900">
                    <script xmlns=""/>
                    <path d="M200-800h560q17 0 28.5 11.5T800-760q0 17-11.5 28.5T760-720H200q-17 0-28.5-11.5T160-760q0-17 11.5-28.5T200-800Zm0 640q-17 0-28.5-11.5T160-200v-200h-7q-19 0-31-14.5t-8-33.5l40-200q3-14 14-23t25-9h574q14 0 25 9t14 23l40 200q4 19-8 33.5T807-400h-7v200q0 17-11.5 28.5T760-160q-17 0-28.5-11.5T720-200v-200H560v200q0 17-11.5 28.5T520-160H200Zm40-80h240v-160H240v160Z"/>
                    <style xmlns="" type="text/css" id="igtranslator-color"/>
                  </svg>
                  <span class="flex-1 ms-3 whitespace-nowrap">Склады</span>
                <% end %>
              </li>
              <li>
                <%= link_to vendors_path, class:"transition flex items-center p-2 text-slate-900 rounded-lg dark:text-white hover:bg-amber-300 dark:hover:bg-amber-700 #{current_page?(controller: 'vendors') ? 'bg-amber-300' : ''} group" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="currentColor" class="w-6 h-6 text-slate-700 transition duration-75 dark:text-amber-400 group-hover:text-slate-900 dark:group-hover:text-white"><script xmlns=""/><path d="M680-320q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM360-156v36H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v200q-31-39-70-59.5T680-640q0-17-11.5-28.5T640-680H320q-17 0-28.5 11.5T280-640q0 17 11.5 28.5T320-600h240q-20 16-36 36t-27 44H320q-17 0-28.5 11.5T280-480q0 17 11.5 28.5T320-440h160q0 21 4.5 41t12.5 39H320q-17 0-28.5 11.5T280-320q0 17 11.5 28.5T320-280h98q-27 23-42.5 55.5T360-156ZM480-40q-17 0-28.5-11.5T440-80v-76q0-21 10-39.5t28-29.5q32-19 54-26.5t59-13.5q12-2 24 .5t20 11.5l45 53 44-53q8-10 20-12t24 0q37 6 59 13.5t54 26.5q18 11 28.5 29.5T920-156v76q0 17-11.5 28.5T880-40H480Z"/><style xmlns="" type="text/css" id="igtranslator-color"/><script xmlns=""/></svg>
                  <span class="flex-1 ms-3 whitespace-nowrap">Поставщики</span>
                <% end %>
              </li>
              <li>
                <%= link_to clients_path, class:"transition flex items-center p-2 text-slate-900 rounded-lg dark:text-white hover:bg-amber-300 dark:hover:bg-amber-700 #{current_page?(controller: 'clients') ? 'bg-amber-300' : ''} group" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="currentColor" class="w-6 h-6 text-slate-700 transition duration-75 dark:text-amber-400 group-hover:text-slate-900 dark:group-hover:text-white"><script xmlns=""/><path d="M680-320q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM360-156v36H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v200q-31-39-70-59.5T680-640q0-17-11.5-28.5T640-680H320q-17 0-28.5 11.5T280-640q0 17 11.5 28.5T320-600h240q-20 16-36 36t-27 44H320q-17 0-28.5 11.5T280-480q0 17 11.5 28.5T320-440h160q0 21 4.5 41t12.5 39H320q-17 0-28.5 11.5T280-320q0 17 11.5 28.5T320-280h98q-27 23-42.5 55.5T360-156ZM480-40q-17 0-28.5-11.5T440-80v-76q0-21 10-39.5t28-29.5q32-19 54-26.5t59-13.5q12-2 24 .5t20 11.5l45 53 44-53q8-10 20-12t24 0q37 6 59 13.5t54 26.5q18 11 28.5 29.5T920-156v76q0 17-11.5 28.5T880-40H480Z"/><style xmlns="" type="text/css" id="igtranslator-color"/><script xmlns=""/></svg>
                  <span class="flex-1 ms-3 whitespace-nowrap">Клиенты</span>
                <% end %>
              </li>
            </ul>
            <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-slate-300 dark:border-amber-700">
              <li>
                <%= link_to prices_path, class:"transition flex items-center p-2 text-slate-900 rounded-lg dark:text-white hover:bg-amber-300 dark:hover:bg-amber-700 group" do %>
                  <svg class="flex-shrink-0 w-5 h-5 text-slate-700 transition duration-75 group-hover:text-slate-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                      <path d="M16 14V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 0 0 0-2h-1v-2a2 2 0 0 0 2-2ZM4 2h2v12H4V2Zm8 16H3a1 1 0 0 1 0-2h9v2Z"/>
                  </svg>
                  <span class="ms-3">Price</span>
                <% end %>
              </li>
              <li>
                <%= link_to invoices_path, class:"transition flex items-center p-2 text-slate-900 rounded-lg dark:text-white hover:bg-amber-300 dark:hover:bg-amber-700 #{current_page?(controller: 'invoices') ? 'bg-amber-300' : ''} group" do %>
                  <svg class="flex-shrink-0 w-5 h-5 text-slate-700 transition duration-75 group-hover:text-slate-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 21">
                      <path d="m5.4 2.736 3.429 3.429A5.046 5.046 0 0 1 10.134 6c.356.01.71.06 1.056.147l3.41-3.412c.136-.133.287-.248.45-.344A9.889 9.889 0 0 0 10.269 1c-1.87-.041-3.713.44-5.322 1.392a2.3 2.3 0 0 1 .454.344Zm11.45 1.54-.126-.127a.5.5 0 0 0-.706 0l-2.932 2.932c.029.023.049.054.078.077.236.194.454.41.65.645.034.038.078.067.11.107l2.927-2.927a.5.5 0 0 0 0-.707Zm-2.931 9.81c-.024.03-.057.052-.081.082a4.963 4.963 0 0 1-.633.639c-.041.036-.072.083-.115.117l2.927 2.927a.5.5 0 0 0 .707 0l.127-.127a.5.5 0 0 0 0-.707l-2.932-2.931Zm-1.442-4.763a3.036 3.036 0 0 0-1.383-1.1l-.012-.007a2.955 2.955 0 0 0-1-.213H10a2.964 2.964 0 0 0-2.122.893c-.285.29-.509.634-.657 1.013l-.01.016a2.96 2.96 0 0 0-.21 1 2.99 2.99 0 0 0 .489 1.716c.009.014.022.026.032.04a3.04 3.04 0 0 0 1.384 1.1l.012.007c.318.129.657.2 1 .213.392.015.784-.05 1.15-.192.012-.005.02-.013.033-.018a3.011 3.011 0 0 0 1.676-1.7v-.007a2.89 2.89 0 0 0 0-2.207 2.868 2.868 0 0 0-.27-.515c-.007-.012-.02-.025-.03-.039Zm6.137-3.373a2.53 2.53 0 0 1-.35.447L14.84 9.823c.112.428.166.869.16 1.311-.01.356-.06.709-.147 1.054l3.413 3.412c.132.134.249.283.347.444A9.88 9.88 0 0 0 20 11.269a9.912 9.912 0 0 0-1.386-5.319ZM14.6 19.264l-3.421-3.421c-.385.1-.781.152-1.18.157h-.134c-.356-.01-.71-.06-1.056-.147l-3.41 3.412a2.503 2.503 0 0 1-.443.347A9.884 9.884 0 0 0 9.732 21H10a9.9 9.9 0 0 0 5.044-1.388 2.519 2.519 0 0 1-.444-.348ZM1.735 15.6l3.426-3.426a4.608 4.608 0 0 1-.013-2.367L1.735 6.4a2.507 2.507 0 0 1-.35-.447 9.889 9.889 0 0 0 0 10.1c.1-.164.217-.316.35-.453Zm5.101-.758a4.957 4.957 0 0 1-.651-.645c-.033-.038-.077-.067-.11-.107L3.15 17.017a.5.5 0 0 0 0 .707l.127.127a.5.5 0 0 0 .706 0l2.932-2.933c-.03-.018-.05-.053-.078-.076ZM6.08 7.914c.03-.037.07-.063.1-.1.183-.22.384-.423.6-.609.047-.04.082-.092.129-.13L3.983 4.149a.5.5 0 0 0-.707 0l-.127.127a.5.5 0 0 0 0 .707L6.08 7.914Z"/>
                  </svg>
                  <span class="ms-3">Накладные</span>
                <% end %>
              </li>
              <%= button_to "backup", backups_create_backup_path, method: :get %>
            </ul>
        </div>
      </aside>
    </div>
  </body>
</html>
